.container {
	width: 96%;
	margin: 0 auto;
	max-width: 1024px;
}


/* clearfix */

section ul:after {
	display: table;
	content: "";
	clear: both;
}



section {
	background: #e5e5e5;
	border: dotted 1px blue;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			float: left;
			width: 30%;
			margin-right: 3%;			
		}
		li:nth-of-type(3n) {
			margin-right: none;
		}
	}
}
