// border box paul irish style
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/////     COLORS    /////

$red : #f80000;
$off_white : #f8f8f8;
$blue : #3366ff;

/////     CONTAINERS    /////

.wide-container {
  width: 1400px;
  margin: 0 auto;
}

.container {
  width: 960px;
  width: 96%;
  max-width: 1200px;
  min-width: 200px;
  margin: 0 auto;
}



html {
  background: $off_white;  
}

body {
  background: $blue;
  color: #999;
}

/////     MIXINS    /////

@mixin hide-text {    
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: block;
}

@mixin button-gradient($from, $to) {
	background: $from; 
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); 
	background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	background: -o-linear-gradient(top, $from 0%,$to 100%); 
	background: -ms-linear-gradient(top, $from 0%,$to 100%); 
	background: linear-gradient(to bottom, $from 0%,$to 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=0 );
}
@mixin button-gradient-hover($to, $from) {
	background: $to; 
	background: -moz-linear-gradient(top, $to 0%, $from 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from)); 
	background: -webkit-linear-gradient(top, $to 0%,$from 100%);
	background: -o-linear-gradient(top, $to 0%,$from 100%); 
	background: -ms-linear-gradient(top, $to 0%,$from 100%); 
	background: linear-gradient(to bottom, $to 0%,$from 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$to', endColorstr='$from',GradientType=0 );	
}
